
<head>
<meta charset="UTF-8">
</head>
<h1>Documentation (<code>backend.py</code>)</h1>
<p>
Pilotversion av morfologilabbet


<p>

<h2>Available calls to the backend</h2>
<table>
  <tr><td><b>Public calls:</b></td></tr>
  <tr><td> <a href="#inflect">inflect</a></td><td> Ge mig förslag på hur ordet X kan böjas<td> </td></tr>
  <tr><td> <a href="#inflectlike">inflectlike</a></td><td> Böj ordet X på samma sätt som ordet Z böjs </td></tr>
  <tr><td> <a href="#inflectclass">inflectclass</a></td><td> Böj ordet X enligt deklination Y  </td></tr>
  <tr><td> <a href="#addtable">addtable</a></td><td>  Spara tabell </td></tr>
  <tr><td> <a href="#compile">compile</a></td><td>  Visa information om ord, böjningsklasser...</td></tr>

</table>

<a name="inflect"/>
<h3>inflect</h3>
<p>
Available query parameters:
<table>
  <tr><td>'lexicon': </td><td> the lexicon</td></tr>
  <tr><td>'table':</td><td> the inflection table </td></tr>
  <tr><td>'pos':</td><td> the part of speech </td></tr>
  <tr><td>'pprior':</td><td> the pprior value to pextract: how much weight to give the frequency of the paradigms. Default: </td></tr>
</table>

<p>
Examples:
<ul>
  <li><pre>{{url}}inflect?table=word(|tag)[word|tag]*</pre>
  <li><a href="{{url}}inflect?table=apa,apan"><pre>{{url}}inflect?table=apa,apan</pre></a>
  <li><a href="{{url}}inflect?table=apa,apan|pl+indef+nom"><pre>{{url}}inflect?table=apa,apan|pl indef nom</pre></a>
  <li><a href="{{url}}inflect?table=apa,apan|pl+indef+nom,apor"><pre>{{url}}inflect?table=apa,apan|pl indef nom,apor</pre></a>
</ul>

<p>
Result:
<pre>
{
  "Results": [
    {
      "WordForms": [
        {
          "msd": "sg indef nom",
          "writtenForm": "apa"
        },
        ...
      ],
      "paradigm": "paradigm_name"
    }
  ],
  "analyzes": "1::msd=tag#1+iten::msd=tag\t0=apa,,1=apa" // shows variable instantiations and paradigm pattern for new paradigms
  "new": false/true
}
</pre>

<a name="inflectclass"/>
<h3>inflectclass</h3>
<p>
Available query parameters:
<table>
  <tr><td>'lexicon': </td><td> the lexicon</td></tr>
  <tr><td>'word':</td><td> the baseform </td></tr>
  <tr><td>'pos':</td><td> the part of speech </td></tr>
  <tr><td>'class':</td><td> TODO give any class that the lexicon accepts? the declination to use</td></tr>
</table>

<p>
Examples:
<ul>
  <li><a href="{{url}}inflectclass?word=apa&bklass=3"><pre>{{url}}inflectclass?word=apa&bklass=3</pre></a>
</ul>

<p>
Result:
<pre>
{
  "Results": [
    {
      "WordForms": [
        {
          "msd": "sg indef nom", 
          "writtenForm": "apa"
        }, 
        {
          "msd": "sg indef gen", 
          "writtenForm": "apas"
        }, 
        ...
        {
          "msd": "pl def gen", 
          "writtenForm": "apornas"
        }
      ], 
      "paradigm": "p6_br\u00e4nn\u00e4ssla"
    }, 
    {
      "WordForms": [...]
      }
}
</pre>



<a name="inflectlike"/>
<h3>inflectlike</h3>
<p>
Available query parameters:
<table>
  <tr><td>'lexicon': </td><td> the lexicon</td></tr>
  <tr><td>'word':</td><td> the baseform </td></tr>
  <tr><td>'like':</td><td> inflect like this lemgram</td></tr>
  <tr><td>'pos':</td><td> the part of speech </td></tr>
</table>

<p>
Examples:
<ul>
  <li><a href="{{url}}inflectlike?word=apa&like=katt..nn.1"><pre>{{url}}inflectlike?word=apa&like=katt..nn.13</pre></a>
</ul>

<p>
Result:
<pre>
{
  "Results": [
    {
      "WordForms": [
        {
          "msd": "sg indef nom", 
          "writtenForm": "apa"
        }, 
        {
          "msd": "sg indef gen", 
          "writtenForm": "apas"
        }, 
        ...
        {
          "msd": "pl def gen", 
          "writtenForm": "apornas"
        }
      ], 
      "paradigm": "p6_br\u00e4nn\u00e4ssla"
    }, 
    {
      "WordForms": [...]
      }
}
</pre>


<a name="addtable"/>
<h3>addtable</h3>
<p>
Available query parameters:
<table>
  <tr><td>'lexicon': </td><td> the lexicon</td></tr>
  <tr><td>'table':</td><td> the inflection table </td></tr>
  <tr><td>'pos':</td><td> the part of speech </td></tr>
  <tr><td>'class':</td><td> inflectional class  </td></tr>
</table>

<p>
Examples:
<ul>
  <li><pre>{{url}}addtable/?table=word(|tag)[word(|tag)]*"</pre></a>
  <li><a href="{{url}}addtable?table=apa,apan,apor"><pre>{{url}}addtable?table=apa,apan,apor"</pre></a>
  <li><a href="{{url}}addtable?table=apa|identifier,apan|sg def nom,apor|pl indef nom"><pre>{{url}}addtable?table=apa|identifier,apan|sg def nom,apor|pl indef nom</pre></a>
</ul>

<p>
Result:
<pre>
{
"added": "1::msd=sg indef nom#1+s::msd=sg indef gen#1+n::msd=sg def nom\t0=officer..nn.1,,1=officer#0=b,,1=boll"
}
</pre>


<a name="Compile"/>
<h3>compile</h3>
<p>
Available query parameters:
<table>
  <tr><td>'s': </td><td> the querystring</td></tr>
  <tr><td>'q':</td><td> the search field </td></tr>
</table>

<p>
Examples:
<ul>
  <li><a href="{{url}}compile?s=wf&q=katt"><pre>{{url}}compile?s=wf&q=katt</pre></a>
  <li><a href="{{url}}compile?s=paradigm&q=katt..nn.1"><pre>{{url}}compile?s=paradigm&q=katt..nn.1</pre></a>
  <li><a href="{{url}}compile?s=class&q=3"><pre>{{url}}compile?s=class&q=3</pre></a>
</ul>
